@import url('https://fonts.googleapis.com/css2?family=Poppins');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,body{
    width: 100vw;
    height: 100vh;
}
#pagina {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #17161F, #22212C, #2D2C3A, #3A3949, #474658);
  animation: rgbLights 2.6s infinite;
}
.border-rgb {
    border: 1.2px solid;
    border-radius: 0.2px;
}
#left_container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 28vw;
    height: 100vh;
    animation: rgbLights 3s infinite;
}
#right_container {
    display: flex;
    width: 72vw;
    height: 100vh;
    animation: rgbLights 3s infinite;
    
}
#profile{
    color: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 18%;
    background-color: #24232D;
    border-radius: 8.4px;
    font-size: 100%;
}





#links{
    color: #EDEDED;
    background-color: #24232D;
    width: 90%;
    height: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8.4px;
}
.links_class{
    width: 100%;
    height: 14%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    color: #EDEDED;
}
.imgs_logo{
    display: flex;
    height: 3.4vh;
    padding: 0 10%;
}

#tecnologias{
    color: #EDEDED;
    background-color: #24232D;
    width: 90%;
    height: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 8.4px;
}
.tecno_class{
    width: 8.4%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    color: #EDEDED;
}





@keyframes rgbLights {
    0%, 100% {
      border-color: #9933cc;
    }
    10%, 90% {
      border-color: #8e15cc;
    }
    20%, 80% {
        border-color: #9048b6;
      }
    30%, 70% {
      border-color: #c86fff;
    }
    40%, 60% {
      border-color: #ba59ff;
    }
    50% {
      border-color: #ab42ff;
    }
  }